<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid">
  <div id="holder" class="row">
    <div class="col-md-3" id="sidebar">
      <form class="form-inline" role="form">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-search"></i>
          </div>
          <input class="form-control" ng-model="findText" placeholder="Find points of interest" />
        </div>
      </form>
      <div id="poiSelect">
        <div class="poi" ng-drag="true" ng-drag-data="poi" ng-repeat="poi in pois | filter:findText | orderBy:'dist'">
          <h3>{{poi.name}}</h3>
          <img ng-src="{{poi.img}}" />
          <p>{{poi.perex}}</p>
          <p ng-if="poi.dist > 0">{{poi.dist}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <google-map center="map.center" zoom="map.zoom" control="map.control" draggable="true">
      </google-map>
    </div>
    <div class="col-md-3">
      <div class="btn-group">
        <button ng-repeat="dayNum in days" class="btn btn-primary" type="button" ng-model="$parent.currentDay" btn-radio="dayNum">{{dayNum}}</button>
      </div>
      <h2>Day {{currentDay}}</h2>
      <div class="dayItinerary" ng-drop="true" ng-drop-success="addCurrentDay($data, $event)">
        <div class="poi" ng-repeat="poi in itineraries[currentDay]">
          <h3>{{poi.name}}</h3>
          <img ng-src="{{poi.img}}" />
          <p>{{poi.perex}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
