.angular-google-map-container {
  height: 650px;
  width: 100%;
}

#poiSelect {
  margin-top: 10px;
  height: 600px;
  overflow-y: scroll;
}

.poi {
  border-bottom: 1px solid #cccccc;
  margin: 10px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.poi > img {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.dayItinerary {
  height: 300px;
  overflow-y: scroll;
}

#flightView {
  height: 150px;
}

.small-head {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
}
