<div class="modal-body">
  <h3>Let's get to know you better.</h3>

  <form role="form">
    <div class="form-group">
      <label for="airport">Where are you traveling from?</label>
      <input name="airport" class="form-control" type="text" placeholder="Airport Code" required>
    </div>

    <div class="form-group">
      <label for="destination">Which country you want to travel to?</label>
      <input name="destination" class="form-control" type="text" placeholder="Country" required>
    </div>

    <div class="form-group">
      <label for="type">What type of trips are you interested in?</label>
      <select name="type" class="form-control">
        <option value="volvo">Beach</option>
        <option value="saab">Disney</option>
        <option value="opel">Casino</option>
        <option value="audi">Mountains</option>
        <option value="audi">National Parks</option>
        <option value="audi">Outdoors</option>
        <option value="audi">Romance</option>
        <option value="audi">Shopping</option>
        <option value="audi">Skiing</option>
      </select>
    </div>

    <div class="form-group">
      <label for="departureDate">Departure date</label>
      <p class="input-group">
        <input type="text" class="form-control" name="departureDate" ng-model="departureDate" datepicker-popup="{{format}}" min-date="minDate" max-date="'2020-01-01'" datepicker-options="dateOptions" close-text="Close" is-open="opened['departureDate']" placeholder="Departure date"
        disabled />
        <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openCal('departureDate', $event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
      </p>
    </div>

    <div class="form-group">
      <label for="returnDate">Return date</label>
      <p class="input-group">
        <input type="text" class="form-control" name="returnDate" ng-model="returnDate" datepicker-popup="{{format}}" min-date="minDate" max-date="'2020-01-01'" datepicker-options="dateOptions" close-text="Close" is-open="opened['returnDate']" placeholder="Return date"
        disabled />
        <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openCal('returnDate', $event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
      </p>
    </div>


    <button class="btn btn-primary">Make my trip!</button>
  </form>
</div>
